@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
  
  /* Style du corps de la page */
  body {
    background-color: #fff;
  }
  
  /* Style de l'en-tête */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  header ul li {
    display: inline-block;
    position: relative;
    margin-right: 10px;
  }
  
  header ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 15px;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }
  
  header ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #FFC300;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  header ul li a:hover::after {
    width: 100%;
    }

  /* Style de la section principale */
  main {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Style du pied de page */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  footer ul li
  {
    float: left;
    width:33%;
    list-style-type: none;
  }

  footer ul li:first-child
  {
    text-align: left;
  }
  
  /* Style du formulaire */
  form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="password"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form input[type="submit"] {
    background: transparent;
    color: #FFC300;
    padding: 10px 20px;
    border: 2px solid #FFC300;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #FFC300;
    transition: 0.6s ease;
    color: #fff;
  }
  
  /*--- gestion ---*/

.gestion
{
  width: 90%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.gestion-col
{
  flex-basis: 48%;
  padding: 30px 2px;
}

.gestion-col img
{
  width: 100%;
  border-radius: 12px;
}

.btn
{
  display: inline-block;
  text-decoration: none;
  border: 1px solid #FFC300;
  padding: 12px 34px;
  background: transparent;
  color: #FFC300;
  position: relative;
  border-radius: 12px;
  transition: 0.4s ease;
}

.btn:hover
{
  color: white;
  background: #FFC300;
  transition: 0.4s ease;
}

.row
{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.text {
  width: 80%;
  margin: auto;
  padding: 30px 2px;
  text-align: justify;
}

.validation img{
  width : 5%;
}

.header {
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/iut.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 12px;
}

.header h1{
  text-align: center;
  padding-top: 21vh;
  color: #fff;
}